.kaufman{
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  background-color: black;
}
