
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;

  /* parameters for the header section */
}

.logo_place_header{
  position: absolute;
  z-index: 1;
  left: 64px;
  top: 30px;
  width: 154px;
  height: 31px;
}

.header__title{
  position: absolute;
  z-index: 1;
  top: 225px;
  display: inline-flex;
  align-self:flex-start;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  width: 730px;
  margin: 0 auto 0 64px;
}

.header__subtitle{
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;

}

.header__link{
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -21px;
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 756px;
  height: 608px;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;

}

.description{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-top: 100px;
 margin-bottom: 100px;
 min-width: 784px;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief{
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto;
}

.two-columns__main-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;

}

.two-columns__paragraph{
 margin: 0 auto;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.section-title{
  width: 60%;
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 60px;
  text-align: center;
}

.table{
  display: flex;
  flex-wrap: wrap;
  /* list-style: none; */
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto 100px;
  row-gap: 60px;
  padding: 0;
}

.table__cell{
  width: 250px;
  list-style: none;
}


.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
}

.table__reference_text{
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: 775px; */
}

.feynman__image{
  position: relative;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.feynman__title{
  position: relative;
  left: 10.8vw;
  top: 19.65vh;
  width: 775px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle{
  position: relative;
  left: 0vw;
  top: 21vh;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link{
  position: absolute;
  right: 48px;
  top: 368vh;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.main-test{
  position: absolute;
  left: 409px;
  top: 313vh;
  width: auto;
}

.kaufman{
  overflow: hidden;
  background-color: black;
}

.kaufman__triangle{
  /* background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat; */
  position: absolute;
  right: -257px;
  top: 438vh;
  z-index: 0;
  width: 660px;
  height: 636px;
}

/* including elements with key-value modifiers */
.section-title_theme_dark{
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #F2F2F2;
}

.table__cell_theme_dark{
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* .table_theme_dark{
  margin-top: 20px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
} */

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
  margin: 22px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 350px;
  width: 100%;
  background-color: #000;

}

.footer__columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  min-width: 711px;
  height: auto;
  color: #fff;
  margin: 60px auto 40px 67px;
  list-style: none;
}

.footer__logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

.test-flex{
  color: #fff;
  width: 300px;
  height: 20px;
}

.footer__column_content_copyright{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px auto 18px 22px;
}

.footer__rows{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 711px;
}

.footer__column-heading{
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-link{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  text-decoration: none;
}

.footer__column_content_about{
  margin: 0;
  list-style: none;
}

.footer__column_content_social{
  margin: 0;
  list-style: none;
}

.footer__social-icons{
  margin-right: 10px;
}





