body{
  overflow-x: hidden;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #F2F2F2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  /* parameters for the header section */
}

.logo{
  position: absolute;
  z-index: 1;
  margin: 30px 0 0 64px;
  width: 154px;
  height: 31px;
}

.header__title-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 730px;
  margin-left: 64px;
  margin-bottom: 30px;
}

.header__title{
  height: 96px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin-top: 203px;
}

.header__subtitle{
  position: absolute;
  z-index: 1;
  top: 527px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  height: 25px;
  width: 388px;
}

.header__link{
  position: absolute;
  top: 62vh;
  z-index: 1;
  text-decoration: none;
  font-size: 18px;
  margin-left: 64px;
  color: #2f80ed;

}

.header__main-illustration{
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 1;
  width: 756px;
  height: 608px;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description{
 margin-left: 64px;
 margin-top: 130px;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin-top: 100px;
  margin-bottom: 100px;

}

.two-columns__brief{
  color: #2f80ed;
}

.two-columns__brief-element{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.section-title{
  width: 60%;
  margin-bottom: 20px;
  margin-left: 20%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-left: 20%;
  text-align: center;
}

.table{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1100px;
  justify-content: space-between;
  margin: 60px auto 100px auto;
}

.table__cell{
  width: 250px;
}

.cell-20{
  margin-bottom: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 auto;
}

.text__reference{
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.text__reference-2{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  width: 100%;
  /* height: 775px; */
}

.feynman__image{
  /* background-image: url(../images/feynman.png); */
  width: 867px;
  height: 637px;
}

.feynman__title{
  width: 775px;
  margin-bottom: 70px;
  margin-top: 44.4vh;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link{
  position: absolute;
  right: 48px;
  top: 403vh;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.main-test{
  position: absolute;
  left: 409px;
  top: 313vh;
  width: auto;
}

.kaufman{
  overflow: hidden;
  background-color: black;
}

.kaufman__triangle{
  position: absolute;
  right: -257px;
  top: 469vh;
  z-index: 0;
  width: 660px;
  height: 636px;
}

/* including elements with key-value modifiers */
.section-title_theme_dark{
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #F2F2F2;
}

.table__cell_theme_dark{
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* .table_theme_dark{
  margin-top: 20px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
} */

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
  margin: 22px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 350px;
  width: 100%;
  background-color: #000;

}

.footer__columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  min-width: 711px;
  height: auto;
  color: #fff;
  margin: 60px auto 40px 67px;
  list-style: none;
}

.footer__logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

.test-flex{
  color: #fff;
  width: 300px;
  height: 20px;
}

.footer__column_content_copyright{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px auto 18px 22px;
}

.footer__rows{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 711px;
}

.footer__column-heading{
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-link{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  text-decoration: none;
}

.footer__column_content_about{
  margin: 0;
  list-style: none;
}

.footer__column_content_social{
  margin: 0;
  list-style: none;
}

.footer__social-icons{
  margin-right: 10px;
}





