.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 60px 100px;
  width: 920px;
  margin: 0 auto 100px;
}

.cards__item{
  display: flex;
  flex-direction: column;
  width: 240px;
  text-align: center;
  align-items: center;
}

.cards__image{
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
}

.cards__title{
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description{
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.techniques{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes{
  display: flex;
  gap: 20px;
  margin: 50px auto 0;
}

.video__iframe{
  border: 1px solid red;
}

.oakley{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.oakley__back_color_gray{
  width: 100%;
  height: 460px;
  position: absolute;
  z-index: -1;
  background-color: #f2f2f2;
}

.khan{
  display: flex;
  overflow: hidden;
  padding-top: 105px;
  margin-bottom: 0;
  background-color: #f2f2f2;
}

.khan__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto -250px;
}

.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 50px;
}

.khan__quote{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 36px;
  width: 790px;
}

.khan__quote-author{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.khan__quote-author-subline{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 68px;
}

.khan__book-container{
  display: flex;
  gap: 48px;
}

.khan__book-pic{
  width: 608px;
  height: 620px;
}

.khan__buy-link{
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.resources{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone{
  display: flex;
  width: 1100px;
  margin: 80px auto 217px;
}

.resources__logo{
  width: 270px;
  height: 38px;
}

